<h2>Neue ToDo - Notiz</h2>

<form action="/notes" method="post">

<label for="title">Title</label>
<input name="title" placeholder="Titel"/>

<label for="description">Beschreibung</label>
<textarea name="description" placeholder="Titel"></textarea>

<label for="importance">Wichtigkeit</label>
<input name="importance"/>

<label for="duedate">Fertig bis</label>
<input name="duedate" type="date"/>

<input type="submit" value="Anlegen">
<input type="reset" value="Abbruch">

</form>