<header>
    <div class="logo">
        <picture>
            <img src="../images/todo.png" alt="Logo Todo">
        </picture>
    </div>
    <div>
       <h1>New ToDo</h1>
    </div>
</header>

<main>
    <article>
        <form action="/new" method="post">

        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Titel" required/>

        <label for="description">Description</label>
        <textarea name="description" placeholder="Titel" required></textarea>

        <label for="importance">Importance (1 to 5)</label>
        <input type="range" name="importance" min="1" max="5" required/>

        <label for="duedate">Due To</label>
        <input name="duedate" type="date" required/>

        <div id="buttons">
            <button type="submit" class="btn-color-edit-actions">Create</button>
            <a href="/" class="button btn-color-cancel">Cancel</a>
        </div>
        </form>
    </article>
</main>