<header>
    <div class="logo">
        <picture>
            <img src="images/todo.png" alt="Logo Todo">
        </picture>
    </div>
    <h1>Neues ToDo hinzufügen</h1>
</header>

<main>

        <form action="/new" method="post">

        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Titel" required/>

        <label for="description">Beschreibung</label>
        <textarea name="description" placeholder="Titel" required></textarea>

        <label for="importance">Wichtigkeit</label>
        <input type="range" name="importance" min="1" max="5" required/>

        <label for="duedate">Fertig bis</label>
        <input name="duedate" type="date" required/>

        <button type="submit" class="btn-green">Create</button>
        <a href="/" class="button btn-red">Cancel</a>


</form>
</main>