body
  background-color: #393939
  color: white

header
  background-color: #673AB7

button, #submitbuttons > a
  color: black

.btn-green
  background-color: #C5E1A5

.btn-red, .btn-blue
  background-color: #C5CAE9

article
  border-color: white

  > header
    background-color: #E0F2F1
    color: black


