body > header
  background-color: #D1C4E9

button, #buttons > a
  color: white

.btn-color-edit-actions
  background-color: #33691E

.btn-color-cancel, .btn-color-sort-filter
  background-color: #303F9F

article > header
  background-color: #00695C
  color: white




