header
  background-color: #D1C4E9

button, input[type="reset"]
  color: white

#submitbuttons > a
  color: white

.btn-green
  background-color: #33691E

.btn-red, .btn-blue
  background-color: #303F9F

article > header
  background-color: #00695C
  color: white




