@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*
  box-sizing: border-box;
  margin: 0;
  padding: 0;

body
  font-family: 'Open Sans', sans-serif
  margin-bottom: 60px

header
  background-color: cadetblue
  padding: 10px

#navigationstlye
  display: flex
  flex-flow: row
  padding: 10px
  justify-content: space-between

  > form
    flex-basis: 16.67%

#navigationstlye > form > input
  width: 100%

#sortandfilter
  padding: 10px

#sort
  width: 78%
  display: flex
  flex-flow: column
  flex-wrap: wrap

  > form
    flex: 1

#filter
  width: 20%

#spacerheader
  flex: 0 0 auto
  width: 5%

.actions

.logo > picture > img
  width: 10%
  position: relative
  height: 10%
  display: inline-block

article
  flex: 1 100%
  margin: 10px
  padding: 10px
  background-color: lightgray

.notes
  display: flex
  flex-direction: row
  flex-wrap: wrap

input[type="submit"], input[type="reset"]
  border: none
  color: white
  margin: 0px
  padding: 15px 15px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  -webkit-appearance: none;

.btn-green
  background-color: #4CAF50

.btn-red
  background-color: red

.btn-blue
  background-color: deepskyblue

footer
  background-color: darkgray
  height: 60px
  width: 100%
  bottom: 0
  position: fixed

  > small
    padding: 10px
    color: white