@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
  border-collapse: collapse
  margin: 0
  font-family: 'Open Sans', sans-serif

header
  background-color: cadetblue
  padding: 10px

#navigationstlye
  display: flex
  flex-flow: row
  padding: 10px
  justify-content: space-between

#navigationstlye > form
  flex-basis: 50px

#sortandfilter
  width: 20%

#spacerheader
  flex: 0 0 auto
  width: 5%

.actions

.output

article
  flex: 1 100%
  padding: 10px

.notes
  display: flex
  flex-direction: row
  flex-wrap: wrap

input[type="submit"]
  border: none
  color: white
  margin: 0px
  padding: 15px 15px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  -webkit-appearance: none;

.btn-green
  background-color: #4CAF50