@import url('https://fonts.googleapis.com/css?family=Roboto');

*
  box-sizing: border-box;
  margin: 0;
  padding: 0;

body
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px

header
  background-color: cadetblue

#navigationstlye
  display: flex
  flex-flow: row
  justify-content: space-between

  > form
    flex-basis: 16.67%

#navigationstlye > form > button
  width: 100%

#sortandfilter

#sort
  width: 78%
  display: flex
  flex-flow: column
  flex-wrap: wrap

  > form
    flex: 1

#filter
  width: 20%

#spacerheader
  flex: 0 0 auto
  width: 5%

.actions
  display: inline-block
  width: 6%

.status
  display: inline-block
  width: 10%
  margin-right: 2%

.output
  display: inline-block
  width: 70%
  margin-right: 2%

.logo > picture > img
  width: 10%
  position: relative
  height: 10%
  display: inline-block

main
  padding: 10px

article
  flex: 1 100%
  margin-bottom: 10px

.notes
  display: flex
  flex-direction: row
  flex-wrap: wrap

input, textarea
  font-family: 'Roboto', sans-serif;

button, input[type="reset"]
  border: none
  color: white
  margin: 0px
  padding: 15px 15px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 14px
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;

.btn-green
  background-color: #4CAF50

.btn-red
  background-color: red

.btn-blue
  background-color: deepskyblue

footer
  background-color: darkgray
  height: 60px
  width: 100%
  bottom: 0
  position: fixed

  > small
    padding: 10px
    color: white

form
  display: flex
  flex-direction: row
  flex-wrap: wrap

  > label
    flex: 1 20%
    font-weight: bold
    padding-bottom: 0.3rem
    @media(max-width: 767px)
      flex: 1 100%


  > input, textarea, div
    flex: 1 80%
    margin-bottom: 1rem
    @media(max-width: 767px)
      flex: 1 100%

textarea
  width: 90%
  height: 5rem

.actions > form > button
  width: 100%
  height: 100%


